.timeline-container {
    padding-left: 15%;
    padding-right: 15%;
    font-family: arvo;
}

.header {
    display: block; /* Change to block element to occupy full width */
    text-align: center; /* Center the text horizontally */
    padding: 20px; /* Adjust padding as needed */
    background-color: white; /* Background color */
    border-radius: 20px; /* Rounded corners */
    color: black; /* Text color */
    margin-top: 100px;
  }
  

.timeline-event {
    display: flex;
    justify-content: flex-end;
    padding: 10px 30px;
    position: relative;
    color: black; /* Set text color */
}

.timeline-event-left {
    justify-content: flex-start;
}

.timeline-event-content {
    border-radius: 6px;
    padding: 15px;
    position: relative;
    width: 45%;
    color: black; /* Set text color */
    background-color: white; /* Fill boxes with white */
}

.content-left {
    border: 2px solid white;
}

.content-right {
    border: 2px solid white;
}

.timeline-event-right .timeline-event-content:before {
    content: '';
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent transparent transparent white;
}

.timeline-event-left .timeline-event-content:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent white;
}

.timeline-event-year {
    font-weight: bold;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: black; /* Set text color */
}

.timeline-event-left .timeline-event-year {
    right: 100%;
    margin-right: 20px;
}

.timeline-event-right .timeline-event-year {
    left: 100%;
    margin-left: 20px;
}

.timeline-event-left .timeline-event-circle {
    right: -13px;
}

.timeline-event-right .timeline-event-circle {
    left: -13px;
}

@media screen and (max-width: 599px) {
    .timeline-event-content {
        width: 70%;
    }

    .timeline-event {
        padding-top: 50px;
    }

    .timeline-event-left,
    .timeline-event-right {
        justify-content: center;
    }

    .timeline-event-right .timeline-event-content:before,
    .timeline-event-left .timeline-event-content:before {
        content: none;
    }

    .timeline-event-left .timeline-event-year,
    .timeline-event-right .timeline-event-year {
        position: static;
        display: block;
        margin-bottom: 5px;
    }

    .timeline-event-circle {
        position: static;
        display: block;
        margin: 5px auto;
    }

    .timeline-container:before {
        display: none;
    }
}
