.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
  margin: auto;
  padding: 20px;
  font-family: arvo;
}
h1{
  font-size: 60px;
  margin-bottom: 30px;
  margin-top: 0;
}
.h2 {
  display: inline-block;
  padding: 10px; /* Adjust padding as needed */
  background-color: white; /* Background color */
  border-radius: 20px; /* Rounded corners */
  color: black; /* Text color */
  position: relative; /* Position the element relative to its normal flow */
}



.getToKnowMe {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  max-width: 800px;
  margin: auto;
  line-height: 1.6;
  color: black;
  position: relative; /* Position relative for absolute positioning of text */
  z-index: 1; /* Ensure content appears above other elements */
  width: 800px; /* Adjusted width */
  height: 625x; /* Adjusted height */
  background-color: white; /* Background color */
  overflow: hidden; /* Hide overflow from absolutely positioned elements */
  border-radius: 20px;
}

.text {
  color: black;
  text-align: center;
  position: absolute; /* Position text absolutely */
  top: 50%; /* Place text at vertical center */
  left: 50%; /* Place text at horizontal center */
  transform: translate(-50%, -50%); /* Adjust to center text */
  width: 80%; /* Set width to 80% of rectangle width */
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 50px;
}

.profile-photo {
  width: 300px; /* Adjust as necessary */
  height: 300px; /* Adjust as necessary */
  border-radius: 50%;
  border: 5px solid white;
  margin-bottom: 50px; /* Adds some space between the photo and the header text */
}

.back-to-top {
  font-family: arvo;
  bottom: 20px;
  right: 20px;
  background-color: rgb(48, 51, 68);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-to-top:hover {
  background-color: #5b93cf;
}